<div id="app">
    <div v-if="!isCustomizing" id="selection">
        <br>
        <div v-for="(item, index) in themesArray" class="theme-choice">
            <div class="color-div" :style="{backgroundColor: item.value}"></div>
            <ui-checkbox :value="item.name==currentTheme" :readonly="item.name==currentTheme" @change="onThemeChanged(item.name)">{{ item.name }}</ui-checkbox>
        </div>
        <!-- <ui-button @click="goToCustomizationPage" style="width: 100px; padding-left: 2px; padding-right: 2px;"><ui-icon value="chunk" color="true"></ui-icon>&nbsp;<ui-label value="i18n:cocos-theme.customize"></ui-label></ui-button>
        <br> -->
    </div>
    <!-- <div v-else id="customization">

    </div> -->
</div>